/* BOILERPLATE: https://github.com/JamesRobertHugginsNgo/make-form/blob/0b9e7f76817e76998d5d0615014919bc8da86d1b/src/field.css */
/* BOILERPLATE: https://raw.githubusercontent.com/JamesRobertHugginsNgo/make-form/0b9e7f76817e76998d5d0615014919bc8da86d1b/src/field.css?token=GHSAT0AAAAAAC4FUXGRDQAPCFMTZLOQFY5OZ4OUHCQ */

.field {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	& .field-label {
		font-weight: bold;

		&>span {
			font-weight: normal;
		}

		&:is(legend) {
			margin-bottom: 0.25rem;
			padding: 0;
		}
	}

	& .field-help-text {
		color: #777777;
		font-size: 0.875em;
	}

	& .field-error-text {
		display: none;

		&.field-error-text-with-icon {
			gap: 0.25rem;
		}
	}

	&.field-error.show-field-error {
		& .field-label {
			color: darkred;
		}

		& .field-error-text {
			color: darkred;
			display: block;

			&.field-error-text-with-icon {
				display: flex;
			}
		}
	}

	&:is(fieldset) {
		border: 0;
		padding: 0;
	}
}
